*{
    background-color: #c1c3be;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    width: 700px;
    margin: auto;

    background-image: url(images/bluecircles.svg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
}

h3{
    color: #677da5;
}

p{
    line-height: 1.35;
    text-align: justify;
}

.img-logo{
    width: 400px;
}

.HTML5{
    width: 150px;
    float: left;
}

.CSS3{
    width: 150px;
    float: right;
}

section{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.logosend{
    width: 25px;
    float: none;
}

.navigator{
    font-family: 'Courier New', Courier, monospace;
    float: left;
}